<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>


Brian
<<<<<<< HEAD

Zeke

Kelly
Aliana

<<<<<<< HEAD
Changing this a little
=======
Jasmine
=======
>>>>>>> 1d56915aadb897a1218f7de8b50da14cfe5aae29
>>>>>>> 56ea2e2c03863321a2ff9feab13a7af391a3e831
